* {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
  }

h3 {
    background-color: #F5EF52;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}


.description {
    background-color: #F5EF52;
    margin: 10px;
    padding: 10px;
    cursor: pointer;

}




   
header {
    background-color: #F5EF52;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
    margin: 0; 
}

header button {
    background: transparent;
    color: #967122;
    font-weight:bolder;
    font-size: medium;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5%;
    font-family: "Inter", sans-serif;
}

header button.login {
    background:transparent;
    color: #967122;
    font-weight:bolder;
    font-size: medium;
}

header .nav-bar {
    flex-direction: row;
    align-items: center;
    display: flex;
}

header #pesquisa {
    margin: 10px;
    padding: 10px;
    border: 0;
    background: transparent;
    border-bottom: black 1px solid;
}

header #buscar {
    border: 0;
}

.capa {
    margin-top: 150px;
}

nav{
    background-color: #F5EF52;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.carrosel{
    display: grid;
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background: #fff;
    flex: 0;
}
.card-link {
    text-decoration: none;
    color: inherit; 
    display: block; 
    height: 100%; 
}

.card:hover {
    transform: scale(1.05); 
}
.cardText{
    color: black;
}

#posts {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: #F1F2E7;
    flex-direction: row;
    margin: 150px 20px;
}

footer {
    background-color: #242021;
    justify-content:end  ;
}
