@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


main {
    background-image: url("C:/Users/Pichau/Downloads/Proz-main/assets/top-view-food-ingredients-with-notebook-pumpkin.jpg"); 
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;   
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    
}
#login{
    box-shadow: 0 0 20px 0 black;
}
#cadastro{
    background-color: #EFB726;
}

form h1 {
    text-align: center;
    color: #333;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-size: 14px;
    color: #333;
}

form input[type="email"],
form input[type="password"],
form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="checkbox"] {
    position: relative;
    margin: auto;
}

form button {
    background-color: #EFB726;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

form button:hover {
    background-color: #B3261E;
}

section{
    margin: auto;
    margin-right: 0px !important;
    background-color: white !important;
}
aside{
    background-color: #EFB726 !important;
    margin: auto;
    margin-left: 0px !important;
    padding: 28px;
    box-shadow: 0 0 20px 0 black;

    button{
        background-color: white;
        color:#333
    }
}



