img {
    width: 100%;
    height: auto;
  }

h3 {
    background-color: #F5EF52;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}



.description {
    background-color: #F5EF52;
    margin: 10px;
    padding: 10px;
    cursor: pointer;

}


.card {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;

}

   
header {
    background-color: #F5EF52;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
    margin: 0; 
}

header button {
    background: transparent;
    color: #967122;
    font-weight:bolder;
    font-size: medium;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5%;
    font-family: "Inter", sans-serif;
}

header button.login {
    background:transparent;
    color: #967122;
    font-weight:bolder;
    font-size: medium;
}

header .nav-bar {
    flex-direction: row;
    align-items: center;
    display: flex;
}

header #pesquisa {
    margin: 10px;
    padding: 10px;
    border: 0;
    background: transparent;
    border-bottom: black 1px solid;
}

header #buscar {
    border: 0;
}

.capa {
    margin-top: 150px;
}

nav{
    background-color: #F5EF52;
    display: flex;
    justify-content: center;
    padding: 20px;
}
NAV #post{
    border-left:saddlebrown ;
}


#posts {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: #F1F2E7;
    flex-direction: row;
    margin: 150px 20px;
}


footer {
    background-color: #242021;
    justify-content:end  ;
}
